<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chinese</key>
	<dict>
		<key>Primary School</key>
		<string></string>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>Math</key>
	<dict>
		<key>Primary School</key>
		<string></string>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>High School Competition</key>
		<string></string>
		<key>Univsersity</key>
		<string></string>
	</dict>
	<key>English</key>
	<dict>
		<key>Primary School</key>
		<string></string>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>High School Competition</key>
		<string></string>
		<key>University</key>
		<string></string>
		<key>TOEFL</key>
		<string></string>
		<key>SAT</key>
		<string></string>
		<key>ielts</key>
		<string></string>
		<key>GRE</key>
		<string></string>
	</dict>
	<key>Physics</key>
	<dict>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>High School Competition</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>Chemistry</key>
	<dict>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>High School Competition</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>Biology</key>
	<dict>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>High School Competition</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>History</key>
	<dict>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>Politics</key>
	<dict>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>Geology</key>
	<dict>
		<key>Middle School</key>
		<string></string>
		<key>High School</key>
		<string></string>
		<key>University</key>
		<string></string>
	</dict>
	<key>APs</key>
	<dict>
		<key>Calculus AB &amp; BC</key>
		<string></string>
		<key>Physics B</key>
		<string></string>
		<key>Physics C Mechanism</key>
		<string></string>
		<key>Physics C Electromagnetism</key>
		<string></string>
		<key>Chemistry</key>
		<string></string>
		<key>Micro Economics</key>
		<string></string>
		<key>Macro Economics</key>
		<string></string>
		<key>Psychology</key>
		<string></string>
		<key>Biology</key>
		<string></string>
		<key>Computer Science</key>
		<string></string>
		<key>English Lauguage and Composition</key>
		<string></string>
		<key>Japanese</key>
		<string></string>
		<key>German</key>
		<string></string>
		<key>French</key>
		<string></string>
		<key>Spanish</key>
		<string></string>
		<key>Human Geography</key>
		<string></string>
		<key>U.S. History</key>
		<string></string>
		<key>World History</key>
		<string></string>
		<key>Art History</key>
		<string></string>
		<key>Europe History</key>
		<string></string>
	</dict>
	<key>Computer</key>
	<dict>
		<key>Java</key>
		<string></string>
		<key>C/C++</key>
		<string></string>
		<key>PHP</key>
		<string></string>
		<key>Objective-C</key>
		<string></string>
		<key>Swift</key>
		<string></string>
		<key>IOS</key>
		<string></string>
		<key>Android</key>
		<string></string>
		<key>Mac OS</key>
		<string></string>
		<key>HTML &amp; CSS</key>
		<string></string>
		<key>C#</key>
		<string></string>
		<key>SQL</key>
		<string></string>
	</dict>
	<key>P. E.</key>
	<dict>
		<key>Primary School</key>
		<string></string>
		<key>Middle School</key>
		<string></string>
		<key>University</key>
		<string></string>
		<key>General Exercise</key>
		<string></string>
		<key>Soccer</key>
		<string></string>
		<key>Billiards</key>
		<string></string>
		<key>Basket Ball</key>
		<string></string>
		<key>Table Tennis</key>
		<string></string>
		<key>Swimming</key>
		<string></string>
		<key>Badminton</key>
		<string></string>
	</dict>
	<key>Art</key>
	<dict>
		<key>Singing</key>
		<string></string>
		<key>Painting</key>
		<string></string>
		<key>PIano</key>
		<string></string>
		<key>Violin</key>
		<string></string>
		<key>Saxophone</key>
		<string></string>
		<key>Electric Organ</key>
		<string></string>
	</dict>
	<key>Other</key>
	<dict>
		<key>Chess</key>
		<string></string>
		<key>Chinese Chess</key>
		<string></string>
		<key>Chinese Go</key>
		<string></string>
		<key>Lego Robot</key>
		<string></string>
		<key>League of Legends</key>
		<string></string>
	</dict>
</dict>
</plist>
